<h1>Edit Photo #{{photo.id}}</h1>

{{#if error}}
  <p style="color:red">{{error}}</p>
{{/if}}

<form method="POST" action="/edit-photo">
  <input type="hidden" name="pid" value="{{photo.id}}">
  <p>
    <label>Title<br>
      <input name="title" value="{{photo.title}}">
    </label>
  </p>
  <p>
    <label>Description<br>
      <textarea name="description" rows="4">{{photo.description}}</textarea>
    </label>
  </p>
  <button type="submit">Submit</button>
  <a href="/photo-details/{{photo.id}}">Cancel</a>
</form>
